.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

nav {
  top: 0;
  display: flex;
  justify-content: center;
  padding-right: 10px;
  background-color: #272B36;
}

.listEl {
  text-decoration: none;
  list-style: none;
}

.resume, .proficiencies, .aboutHeader, #aboutP {
  margin-top: 3%;
  list-style: none;
}

.aboutPage {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: center;
}