:root {
  --primary-color: #94ebc5;
  --secondary-color: #08472b;
  --tertiary-color: #525252;
  background-color: #dce3e0;
}

.App {
  text-align: center;
  background-color: #dce3e0;
}

.App-header {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  background-color: var(--tertiary-color);
}

.listEl {
  text-decoration: none;
  list-style: none;
}

.proficiencies, .about, .projects, .resume, .contact, #aboutP {
  margin-top: 3%;
  list-style: none;
}

.aboutPage {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: center;
}

.proficiencies {
  padding-left: 0;
}

footer {
  color:var(--primary-color);
  background-color: var(--tertiary-color);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

/* a {
  text-decoration: none;
  color: var(--primary-color);;
}

a :hover {
  color: var(--primary-color);
} */